/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.header {
    height: var(--tamanho-header);
    border-bottom: solid 2px #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.login{
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
}

.login .container {
    display: flex;
    height: var(--tamanho-login);
    justify-content: center;
    align-items: center; 
}

.card-login{
    background-color: #E5E5E5;
    padding:  0 80px 20px 80px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card-cadastro{
    background-color: #E5E5E5;
    padding:  0 80px 20px 80px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.campo span {
    color: #ea4a7f;
    font-weight: 800;
    font-size: 18px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: #ea4a7f;
}

.campo input {
    width: 650px;
    text-align: center;
    border: solid 3px #32b9cd;
    padding: 10px;
    border-radius: 12px;
}

button {
    background-color: #ec2668;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 30px 8px 30px;
    font-weight: 550;
    font-size: 20px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 800;
}

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner .container p {
    width: 50%; 
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;    
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    width: 170px;
}

.footer {
    height: var(--tamanho-footer);
    background-color: #32b9cd;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.version {
    font-size: 12px;
}

.login {
    height: var(--tamanho-login);
}

